/*
* @Author: Charlie Gallentine
* @Date:   2019-09-10 14:11:39
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-09-23 10:32:08
*/

@keyframes rotcw {
	from {
		transform: rotate(0deg)
		           translate(-3px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-3px) 
		           rotate(-360deg);
	}
}

@keyframes rotccw {
	from {
		transform: rotate(0deg)
		           translate(-3px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-3px) 
		           rotate(-360deg);
	}
}


.bordered-square-one {
	/*border: 2px solid #333;*/
	animation: rotcw 3s infinite linear;
}

.bordered-square-two {
	/*border: 2px solid #333;*/
	animation: rotcw 3.5s infinite linear;
}

.bordered-square-three {
	/*border: 2px solid #333;*/
	animation: rotcw 4s infinite linear;
}

.bordered-square-four {
	/*border: 2px solid #333;*/
	animation: rotccw 3.25s infinite linear;
}

.bordered-square-five {
	/*border: 2px solid #333;*/
	animation: rotccw 3.75s infinite linear;
}

.bordered-square-six {
	/*border: 2px solid #333;*/
	animation: rotccw 4.1s infinite linear;
}

#squares-top {
	position: absolute;
}

#squares-bottom {
	position: absolute;
}

#squares-about {
	position: absolute;
}

.square {
	position: absolute;
}