/*
* @Author: Charlie Gallentine
* @Date:   2019-09-10 14:11:39
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-09-22 21:46:05
*/

.bordered-square {
	border: 2px solid black;
}

#squares-top {
	position: absolute;
}

#squares-bottom {
	position: absolute;
}

#squares-about {
	position: absolute;
}

.square {
	position: absolute;
}